@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.article {
  @apply pt-5 flex flex-col gap-12 font-poppins text-xl px-4;
}

.article > h1 {
  @apply font-poppinsBold text-4xl text-center
}

.article > h2 {
  @apply font-poppinsBold text-3xl
}

.article > img {
  
}